*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}

body {
    font-family: "Helvetica Neue",Helvetica;
    margin: 25px;
}

.calculator {
    background: black;
    border-radius: 50px;
    color: white;
    height: 800px;
    width: 520px;
    padding: 20px;
    position: relative;
}

.value {
    font-size: 100px;
    font-weight: 300;
    height: 150px;
    text-align: right;
    margin-top: 20px;
    margin-right: 20px;
}

.buttons-contains {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px;
}

.button {
    align-items: center;
    background: #333;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    font-size: 45px;
    height: 100px;
    justify-content: center;
    width: 100px;
}

.button.function {
    font-size: 30px;
    color: black;
    background: #a5a5a5;
}

.button.operator {
    background: rgba(255, 166, 0, 0.822);
}

.button.num-0 {
    border-radius: 55px;
    grid-column: 1 / span 2;
    justify-content: flex-start;
    padding-left: 40px;
    width: 220px;
}

.button:active,
.button:focus {
    filter: brightness(130%);
}

.button:hover {
    opacity: 0.8;
}